In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Preliminary Analysis

In [2]:
data = pd.read_excel('D:\DS Course corizo\Stock price prediction\Stock_data.xlsx')
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1009 non-null   datetime64[ns]
 1   Open       1009 non-null   float64
 2   High       1009 non-null   float64
 3   Low        1009 non-null   float64
 4   Close      1009 non-null   float64
 5   Adj Close  1009 non-null   float64
 6   Volume     1009 non-null   int64
dtypes: datetime64[ns](1), float64(5), int64(1)
memory usage: 55.3 KB

In [4]:
data.shape

(1009, 7)

In [5]:
data.isna()

       Date   Open   High    Low  Close  Adj Close  Volume
0     False  False  False  False  False      False   False
1     False  False  False  False  False      False   False
2     False  False  False  False  False      False   False
3     False  False  False  False  False      False   False
4     False  False  False  False  False      False   False
...     ...    ...    ...    ...    ...        ...     ...
1004  False  False  False  False  False      False   False
1005  False  False  False  False  False      False   False
1006  False  False  False  False  False      False   False
1007  False  False  False  False  False      False   False
1008  False  False  False  False  False      False   False

[1009 rows x 7 columns]

In [6]:
data.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [7]:
data.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,1009,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1.009000e+03
mean,2020-02-05 07:30:58.870168320,419.059673,425.320703,412.374044,419.000733,419.000733,7.570685e+06
min,2018-02-05 00:00:00,233.919998,250.649994,231.229996,233.880005,233.880005,1.144000e+06
25%,2019-02-06 00:00:00,331.489990,336.299988,326.000000,331.619995,331.619995,4.091900e+06
50%,2020-02-06 00:00:00,377.769989,383.010010,370.880005,378.670013,378.670013,5.934500e+06
75%,2021-02-05 00:00:00,509.130005,515.630005,502.529999,509.079987,509.079987,9.322400e+06
max,2022-02-04 00:00:00,692.349976,700.989990,686.090027,691.690002,691.690002,5.890430e+07
std,NaN,108.537532,109.262960,107.555867,108.289999,108.289999,5.465535e+06

# Data Preprocessing

### Date

In [8]:
data['Date'] = pd.to_datetime(data['Date'])
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900

In [9]:
data.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [10]:
data['Date'].dt.year.unique()

array([2018, 2019, 2020, 2021, 2022])

In [11]:
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day

data.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100,2018,2,5
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800,2018,2,6
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500,2018,2,7
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700,2018,2,8
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900,2018,2,9

In [12]:
data.drop('Date',axis=1,inplace=True)

In [13]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day
0,262.000000,267.899994,250.029999,254.259995,254.259995,11896100,2018,2,5
1,247.699997,266.700012,245.000000,265.720001,265.720001,12595800,2018,2,6
2,266.579987,272.450012,264.329987,264.559998,264.559998,8981500,2018,2,7
3,267.079987,267.619995,250.000000,250.100006,250.100006,9306700,2018,2,8
4,253.850006,255.800003,236.110001,249.470001,249.470001,16906900,2018,2,9

# Normalization

##### First we have to reindex the DataFrame such that the Volume is at the  right end of the DataFrame

In [14]:
temp_col = data.columns.to_list()
print(temp_col, '\n')

['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Year', 'Month', 'Day']

In [15]:
new_col = temp_col[: 5] + temp_col[6 :]
new_col.append(temp_col[5])
new_col

['Open', 'High', 'Low', 'Close', 'Adj Close', 'Year', 'Month', 'Day', 'Volume']

In [16]:
data = data.reindex(columns = new_col)

In [17]:
data.head()

,Open,High,Low,Close,Adj Close,Year,Month,Day,Volume
0,262.000000,267.899994,250.029999,254.259995,254.259995,2018,2,5,11896100
1,247.699997,266.700012,245.000000,265.720001,265.720001,2018,2,6,12595800
2,266.579987,272.450012,264.329987,264.559998,264.559998,2018,2,7,8981500
3,267.079987,267.619995,250.000000,250.100006,250.100006,2018,2,8,9306700
4,253.850006,255.800003,236.110001,249.470001,249.470001,2018,2,9,16906900

#### Now to Normalise:

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data = scaler.fit_transform(data)

In [19]:
data

array([[-1.44777164, -1.4414654 , -1.51014126, ..., -1.32500464,
        -1.22417332,  0.7917907 ],
       [-1.57958866, -1.45245336, -1.55693083, ..., -1.32500464,
        -1.10995186,  0.91987459],
       [-1.40555345, -1.39980192, -1.37712127, ..., -1.32500464,
        -0.9957304 ,  0.25825734],
       ...,
       [ 0.26907561,  0.24411318,  0.13121518, ..., -1.32500464,
        -1.56683771,  1.2402582 ],
       [ 0.02194181,  0.03607133, -0.07529165, ..., -1.32500464,
        -1.45261625,  0.42734564],
       [-0.10830817, -0.11492402, -0.14635958, ..., -1.32500464,
        -1.33839478,  0.03875557]])

In [20]:
len(data[0])

9

## Splitting Data

In [21]:
from sklearn.model_selection import train_test_split as tts

In [22]:
x = data[:, :-1 ]
y = data[:, -1]

In [23]:
x_train , x_test, y_train, y_test = tts(x,y, test_size = 0.1, random_state=69)

In [24]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(908, 8)
(101, 8)
(908,)
(101,)

## Error and Accuracy Calculation

In [25]:
from sklearn.metrics import mean_squared_error, r2_score

def metrics(y_true,y_pred):
    print("RMSE:", mean_squared_error(y_true, y_pred)**0.5)
    print("R_Squared Error:", r2_score(y_true,y_pred))
    
def accuracy(y_true,y_pred):
    errors = abs(y_true - y_pred)
    mean_absolute_percent_error = 100 * np.mean(errors/y_true)
    accurate = 100 - mean_absolute_percent_error
    return accurate

# Building Model

### We are building Linear Regression Model

In [30]:
from sklearn.linear_model import LinearRegression

model_linear = LinearRegression()
model_linear.fit(x_train, y_train)

LinearRegression()

In [31]:
pred_y = model_linear.predict(x_test)

In [32]:
metrics(y_test, pred_y)

RMSE: 0.8566702476497751
R_Squared Error: 0.5101428195976524

In [33]:
accuracy(y_test, pred_y)

98.56413261567148